* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

button {
  padding: 6px;
  background-color: antiquewhite;
  color: black;
  border-radius: 5px;
  border: solid 2px grey;
}

button:hover {
  cursor: pointer;
}

ul {
  padding-inline-start: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  text-align: center;
  padding: 2px;
  width: 34px;
}

.status {
  margin-bottom: 10px;
}
